@font-face {
    font-family: 'DepartureMono';
    src: url('/fonts/DepartureMono-Regular.woff2') format('woff2'),
        url('/fonts/DepartureMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.font-departure{
    font-family: 'DepartureMono', monospace;
}